---
import ButtonLink from "./ButtonLink.astro";

const banners = [
  {
    image: "images/banner-large-1.jpg",
    title: "Buy Electronic Gadgets at Affordable Prices",
    caption: "Tech gadgets are all about making your life easier",
    link: "#",
    linkText: "Shop Now",
  },
  {
    image: "images/banner-large-2.jpg",
    title: "Cool Tech Gadgets Collection 2023",
    caption: "Tech gadgets are all about making your life easier",
    link: "#",
    linkText: "Shop Now",
  },
  {
    image: "images/banner-large-3.jpg",
    title: "Sturdy And Multifunction New Gadgets",
    caption: "Tech gadgets are all about making your life easier",
    link: "#",
    linkText: "Shop Now",
  },
];
---

<div class="container-fluid">
  <div class="swiper">
    <div class="swiper-wrapper">
      {
        banners.map((banner) => (
          <div class="swiper-slide jarallax d-flex align-items-center">
            <div class="container">
              <img
                src={banner.image}
                class="img-fluid jarallax-img"
                alt={banner.title}
              />
              <h2 class="display-1 txt-fx slide-up">{banner.title}</h2>
              <p>{banner.caption}</p>
              <ButtonLink href={banner.link}>{banner.linkText}</ButtonLink>
            </div>
          </div>
        ))
      }
    </div>
    <div class="swiper-pagination my-3"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<script>
  import Swiper from "swiper/bundle";

  new Swiper(".swiper", {
    pagination: {
      el: ".swiper-pagination",
    },

    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    autoplay: true,
    loop: true,
  });
</script>
