---
const socialLinks = [
  {
    href: "#",
    icon: "facebook",
    label: "Facebook",
  },
  {
    href: "#",
    icon: "twitter",
    label: "Twitter",
  },
  {
    href: "#",
    icon: "youtube",
    label: "YouTube",
  },
  {
    href: "#",
    icon: "pinterest",
    label: "Pinterest",
  },
  {
    href: "#",
    icon: "instagram",
    label: "Instagram",
  },
];

const quickLinks = [
  { href: "index.html", label: "Home" },
  { href: "shop-four-column-wide.html", label: "About" },
  { href: "blog.html", label: "Services" },
  { href: "styles.html", label: "Single item" },
  { href: "#", label: "Contact" },
];

const howItWorksLinks = [
  { href: "index.html", label: "How it works" },
  { href: "shop-four-column-wide.html", label: "About" },
  { href: "blog.html", label: "Our packages" },
  { href: "styles.html", label: "Promotions" },
  { href: "#", label: "Refer a friend" },
];

const helpLinks = [
  { href: "#", label: "Track Your Order" },
  { href: "#", label: "Returns + Exchanges" },
  { href: "#", label: "Shipping + Delivery" },
  { href: "#", label: "Contact Us" },
  { href: "#", label: "Find us easy" },
  { href: "faqs.html", label: "Faqs" },
];

const sectionsLinks = [
  { title: "Quick Links", links: quickLinks },
  { title: "About", links: howItWorksLinks },
  { title: "Help & Info", links: helpLinks },
];

const email = "contact@yourcompany.com";
const phone = "+43720115278";

const ships = [
  {
    src: "images/arct-icon.png",
    alt: "arct-icon",
  },
  {
    src: "images/dhl-logo.png",
    alt: "dhl-logo",
  },
];

const paymentMethods = [
  {
    src: "images/visa-card.png",
    alt: "visa-card",
  },
  {
    src: "images/paypal-card.png",
    alt: "paypal-card",
  },
  {
    src: "images/master-card.png",
    alt: "master-card",
  },
];
---

<footer class="container-fluid py-5" data-aos="fade-in">
  <div class="row row-gap-5">
    <div class="col-xl-3 col-sm-6">
      <a href="./">
        <img
          src="images/logo.svg"
          class="img-fluid object-fit-contain"
          alt="logo"
        />
      </a>
      <p>
        Gravida massa volutpat aenean odio. Amet, turpis erat nullam fringilla
        elementum diam in. Nisi, purus vitae, ultrices nunc. Sit ac sit suscipit
        hendrerit.
      </p>
      <ul class="m-0 p-0 nav">
        {
          socialLinks.map((link) => (
            <li class="nav-item">
              <a
                href={link.href}
                class={`nav-link bi bi-${link.icon}`}
                aria-label={link.label}
              />
            </li>
          ))
        }
      </ul>
    </div>
    {
      sectionsLinks.map((section) => (
        <div class="col-xl-2 col-sm-6">
          <h2>{section.title}</h2>
          <ul class="list-unstyled">
            {section.links.map((link) => (
              <li>
                <a href={link.href}>{link.label}</a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
    <address class="col-xl-3 col-sm-6">
      <h2>Contact Us</h2>
      <p>
        Do you have any questions or suggestions?
        <a href={`mailto:${email}`}>{email}</a>
      </p>
      <p>
        Do you need support? Give us a call.
        <a href={`tel:${phone}`}>{phone}</a>
      </p>
    </address>
  </div>
  <hr />
  <div class="d-flex justify-content-between align-items-center gap-5">
    <div>
      We ship with:
      {
        ships.map((ship) => (
          <img src={ship.src} alt={ship.alt} class="img-fluid" />
        ))
      }
      <span>Payment Option:</span>
      {
        paymentMethods.map((method) => (
          <img src={method.src} alt={method.alt} />
        ))
      }
    </div>
    <p class="m-0">
      © Copyright 2023 ElectroStore. All rights reserved. HTML Template by
      <a href="https://templatesjungle.com" target="_blank">TemplatesJungle</a>
    </p>
  </div>
</footer>
