---
import ButtonLink from "./ButtonLink.astro";

const offcanvasId = crypto.randomUUID();

const pages = [
  { href: "shop.html", text: "Shop", badge: "PRO" },
  { href: "single-product.html", text: "Single Product", badge: "PRO" },
  { href: "blog.html", text: "Blog", badge: "PRO" },
  { href: "single.html", text: "Single Post", badge: "PRO" },
  { href: "single-post.html", text: "Single Post w/sidebar", badge: "PRO" },
  { href: "about.html", text: "About", badge: "PRO" },
  { href: "cart.html", text: "Cart", badge: "PRO" },
  { href: "checkout.html", text: "Checkout", badge: "PRO" },
  { href: "coming-soon.html", text: "Coming Soon", badge: "PRO" },
  { href: "contact.html", text: "Contact", badge: "PRO" },
  { href: "error-page.html", text: "Error Page", badge: "PRO" },
  { href: "faqs.html", text: "FAQs", badge: "PRO" },
  { href: "my-account.html", text: "My Account", badge: "PRO" },
  { href: "order-tracking.html", text: "Order Tracking", badge: "PRO" },
  { href: "wishlist.html", text: "Wishlist", badge: "PRO" },
  { href: "styles.html", text: "Styles", badge: "PRO" },
];
---

<nav class="navbar navbar-expand-xl sticky-top bg-body">
  <div class="container-fluid">
    <a href="./">
      <img src="images/logo.svg" height="50" class="img-fluid" alt="logo" />
    </a>

    <div class="offcanvas offcanvas-end" tabindex="-1" id={offcanvasId}>
      <header class="offcanvas-header">
        <h2 class="offcanvas-title">Menu</h2>
        <button
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
        </button>
      </header>

      <div class="offcanvas-body">
        <ul
          class="navbar-nav w-100 justify-content-center align-items-xl-center gap-3 gap-xl-5"
        >
          <li class="nav-item">
            <a class="nav-link" href="./">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
            >
              Pages
            </a>
            <ul class="dropdown-menu m-0 p-0">
              {
                pages.map((page) => (
                  <li class="dropdown-item">
                    <a
                      href={page.href}
                      class="d-flex justify-content-between align-items-center gap-5"
                    >
                      {page.text}
                      <span class="badge bg-primary">{page.badge}</span>
                    </a>
                  </li>
                ))
              }
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Collections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sale</a>
          </li>
          <li class="nav-item">
            <ButtonLink
              href="https://templatesjungle.gumroad.com/l/electrostore-bootstrap-html-template"
              target="_blank"
            >
              Get PRO
            </ButtonLink>
          </li>
        </ul>
      </div>
    </div>

    <menu class="m-0 p-0 navbar-nav flex-row fs-3 gap-3">
      <li class="nav-item">
        <a class="nav-link bi bi-heart" href="wishlist.html"></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link bi bi-cart"
          href="cart.html"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasCart"
        >
        </a>
      </li>
      <li class="nav-item search-box">
        <a href="#" class="nav-link search-button bi bi-search"></a>
      </li>
    </menu>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target={`#${offcanvasId}`}
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
