---
const products = [
  { name: "22 Inch Monitor", description: "Brief description", price: 12 },
  { name: "Mobile phone", description: "Brief description", price: 8 },
  { name: "Drone", description: "Brief description", price: 5 },
];

const total = products.reduce((total, product) => product.price + total, 0);
---

<div
  class="offcanvas offcanvas-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasCart"
>
  <div class="offcanvas-header">
    <button class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
    </button>
  </div>
  <div class="offcanvas-body">
    <h2 class="d-flex justify-content-between align-items-center">
      <span class="text-primary">Your cart</span>
      <span class="badge text-bg-primary rounded-pill">{products.length}</span>
    </h2>
    <ul class="list-group">
      {
        products.map((product) => (
          <li class="list-group-item d-flex justify-content-between align-items-center gap-5">
            <div>
              <h3>{product.name}</h3>
              <small>{product.description}</small>
            </div>
            <span>${product.price}</span>
          </li>
        ))
      }
      <li
        class="list-group-item d-flex justify-content-between align-items-center gap-5"
      >
        <span>Total (USD)</span>
        <strong>${total}</strong>
      </li>
    </ul>

    <button class="w-100 btn btn-primary">Continue to Checkout</button>
  </div>
</div>
